{% extends 'base.html' %}
{% block title %}Menu{% endblock %}
{% block content %}
<h2 style="text-align: center; padding-top: 15px;">Available Dishes</h2>

<!-- Flex container -->
<div class="dish-container">
  {% for dish in dishes %}
    <div class="dish-card">
      <img src="{{ url_for('uploaded_file', filename=dish['image_filename']) }}" width="200">
      <h3>{{ dish['name'] }}</h3>
      <p>{{ dish['description'] }}</p>
      <p><strong>Price:</strong> ₹{{ dish['price'] }}</p>
      <p><strong>Prep Time:</strong> {{ dish['prep_time'] }}</p>
      <p><strong>Chef:</strong> {{ dish['chef_name'] }}</p>
      <a href="/place_order/{{ dish['id'] }}">Order Now</a>
    </div>
  {% endfor %}
</div>
{% endblock %}
